.home {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
}
.left {
  flex: 0.45;
  height: 100vh;
}
.left-header {
  width: 100%;
  padding: 5%;
  background-color: #eeeeee;
}
.left-header-top {
  display: flex;
  width: 100%;
  align-items: center;
}
.left-header-top > h2 {
  margin-left: 15px;
  font-weight: 400;
  font-size: 21px;
}
.left-header-bottom {
  margin-top: 15px;
}
.left-header-bottom > p {
  font-weight: 500;
  font-size: 32px;
}
.left-middle {
  padding: 5%;
  margin-top: 10px;
}
.left-middle-top > h2 {
  font-weight: 500;
  font-size: 16px;
}
.left-middle-top > input {
  border-radius: 15px;
  background-color: #e4eaec;
  padding: 15px;
  width: 440px;
  height: auto;
  margin-top: 4px;
  outline: none;
  border: none;
}
.left-middle-bottom {
  margin-top: 3em;
}
.left-middle-bottom > h2 {
  font-weight: 500;
  font-size: 16px;
}
.left-button {
  padding: 20px;
  width: 100%;
}
.left-button > button {
  padding: 20px;
  height: 59px;
  width: 90%;
  background-color: #fdd032;
  border-radius: 14px;
  color: #4e3005;
  font-weight: 500px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.right {
  flex: 0.55;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}
.right > img {
  height: calc(100vh - 5px);
  width: 100%;
  object-fit: cover;
}
.date-input {
  display: flex;
  justify-content: space-between;
}
.from,
.to {
  width: 200px;
  padding: 15px;
  height: auto;
  border-radius: 15px;
  background-color: #e4eaec;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datePicker {
  width: 150px;
  background-color: #e4eaec;
  outline: none;
  border: none;
}
.icon {
  cursor: pointer;
}
